.ce-block .latex-block {
  display: flex;
  flex-direction: column;
  transition: 0.3s;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid #ccc;
  padding: 4px;
}
.ce-block .latex-block .latex-preview {
  width: 100%;
  min-height: 30px;
  padding: 10px;
  font-size: 1.1em;
  text-align: center;
}
.ce-block .latex-block .latex-preview.empty:before {
  content: "Empty Latex Block";
  color: #ccc;
}
.ce-block .latex-block .latex-preview * {
  font-family: "Katex_Math";
}
.ce-block .latex-block .latex-preview annotation {
  display: none;
}
.ce-block .latex-block input.latex-input {
  height: 0px;
  color: #666;
  text-align: center;
  transition: 0.3s;
  outline: none;
  border: none;
  opacity: 0;
  padding: 0;
}

.ce-block .latex-block:focus-within input.latex-input {
  border-top: 1px solid #ccc;
  padding-top: 4px;
  height: 30px;
  opacity: 1;
}
.ce-block .latex-block .errorMessage {
  color: red;
}
